In [1]:
import polars as pl

# DATASET SACADO DE KAGGLE (https://www.kaggle.com/datasets/eoinamoore/historical-nba-data-and-player-box-scores)

## LIMPIEZA TEAM HISTORIES

In [2]:
df_team_histories = pl.read_csv('/home/uvuser/polarsNBA/archive/raw/TeamHistories.csv')

In [3]:
df_team_histories

shape: (140, 7)
┌────────────┬──────────────┬──────────────┬────────────┬──────────────┬─────────────┬─────────────┐
│ teamId     ┆ teamCity     ┆ teamName     ┆ teamAbbrev ┆ seasonFounde ┆ seasonActiv ┆ league      │
│ ---        ┆ ---          ┆ ---          ┆ ---        ┆ d            ┆ eTill       ┆ ---         │
│ i64        ┆ str          ┆ str          ┆ str        ┆ ---          ┆ ---         ┆ str         │
│            ┆              ┆              ┆            ┆ i64          ┆ i64         ┆             │
╞════════════╪══════════════╪══════════════╪════════════╪══════════════╪═════════════╪═════════════╡
│ 1610612737 ┆ Tri-Cities   ┆ Blackhawks   ┆ TRI        ┆ 1946         ┆ 1948        ┆ BAA         │
│ 1610612737 ┆ Milwaukee    ┆ Hawks        ┆ MIL        ┆ 1951         ┆ 1954        ┆ NBA         │
│ 1610612737 ┆ St. Louis    ┆ Hawks        ┆ STL        ┆ 1955         ┆ 1967        ┆ NBA         │
│ 1610612737 ┆ Atlanta      ┆ Hawks        ┆ ATL        ┆ 1968         ┆ 2100        ┆ NBA         │
│ 1610612738 ┆ Boston       ┆ Celtics      ┆ BOS        ┆ 1946         ┆ 1948        ┆ BAA         │
│ …          ┆ …            ┆ …            ┆ …          ┆ …            ┆ …           ┆ …           │
│ 9058       ┆ Indianapolis ┆ Olympians    ┆ INO        ┆ 1949         ┆ 1948        ┆ BAA         │
│ 9060       ┆ Rio de       ┆ Flamengo     ┆ FLA        ┆ 1919         ┆ 2100        ┆ Liga        │
│            ┆ Janeiro      ┆              ┆            ┆              ┆             ┆ Nacional    │
│ 9062       ┆ All-Star     ┆ Team Stephen ┆ STP        ┆ 2018         ┆ 2018        ┆ NBA         │
│ 9064       ┆ Kaunas       ┆ Zalgiris     ┆ ZAK        ┆ 1944         ┆ 2100        ┆ EuroLeague  │
│ 9066       ┆ Raanana      ┆ Maccabi Ra   ┆ MRA        ┆ 1980         ┆ 2100        ┆ Israeli     │
│            ┆              ┆ anana        ┆            ┆              ┆             ┆ Premier     │
│            ┆              ┆              ┆            ┆              ┆             ┆ League      │
└────────────┴──────────────┴──────────────┴────────────┴──────────────┴─────────────┴─────────────┘

In [4]:
# Contar los nulos por columna
nulos_por_columna = df_team_histories.select([
    pl.col(col).is_null().sum().alias(f"{col}_nulos")
    for col in df_team_histories.columns
])

print(nulos_por_columna)

shape: (1, 7)
┌──────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┐
│ teamId_nulos ┆ teamCity_nu ┆ teamName_nu ┆ teamAbbrev_ ┆ seasonFound ┆ seasonActiv ┆ league_nulo │
│ ---          ┆ los         ┆ los         ┆ nulos       ┆ ed_nulos    ┆ eTill_nulos ┆ s           │
│ u32          ┆ ---         ┆ ---         ┆ ---         ┆ ---         ┆ ---         ┆ ---         │
│              ┆ u32         ┆ u32         ┆ u32         ┆ u32         ┆ u32         ┆ u32         │
╞══════════════╪═════════════╪═════════════╪═════════════╪═════════════╪═════════════╪═════════════╡
│ 0            ┆ 0           ┆ 0           ┆ 0           ┆ 0           ┆ 0           ┆ 0           │
└──────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┘

In [5]:
duplicados = df_team_histories.filter(df_team_histories.is_duplicated())
print(duplicados)

shape: (0, 7)
┌────────┬──────────┬──────────┬────────────┬───────────────┬──────────────────┬────────┐
│ teamId ┆ teamCity ┆ teamName ┆ teamAbbrev ┆ seasonFounded ┆ seasonActiveTill ┆ league │
│ ---    ┆ ---      ┆ ---      ┆ ---        ┆ ---           ┆ ---              ┆ ---    │
│ i64    ┆ str      ┆ str      ┆ str        ┆ i64           ┆ i64              ┆ str    │
╞════════╪══════════╪══════════╪════════════╪═══════════════╪══════════════════╪════════╡
└────────┴──────────┴──────────┴────────────┴───────────────┴──────────────────┴────────┘

In [6]:
num_duplicados = df_team_histories.is_duplicated().sum()
print(f"Número de filas duplicadas: {num_duplicados}")

Número de filas duplicadas: 0

In [7]:
df_team_histories.describe()

shape: (9, 8)
┌────────────┬──────────┬──────────┬──────────┬────────────┬─────────────┬────────────┬────────────┐
│ statistic  ┆ teamId   ┆ teamCity ┆ teamName ┆ teamAbbrev ┆ seasonFound ┆ seasonActi ┆ league     │
│ ---        ┆ ---      ┆ ---      ┆ ---      ┆ ---        ┆ ed          ┆ veTill     ┆ ---        │
│ str        ┆ f64      ┆ str      ┆ str      ┆ str        ┆ ---         ┆ ---        ┆ str        │
│            ┆          ┆          ┆          ┆            ┆ f64         ┆ f64        ┆            │
╞════════════╪══════════╪══════════╪══════════╪════════════╪═════════════╪════════════╪════════════╡
│ count      ┆ 140.0    ┆ 140      ┆ 140      ┆ 140        ┆ 140.0       ┆ 140.0      ┆ 140        │
│ null_count ┆ 0.0      ┆ 0        ┆ 0        ┆ 0          ┆ 0.0         ┆ 0.0        ┆ 0          │
│ mean       ┆ 7.8230e8 ┆ null     ┆ null     ┆ null       ┆ 1970.192857 ┆ 2037.41428 ┆ null       │
│            ┆          ┆          ┆          ┆            ┆             ┆ 6          ┆            │
│ std        ┆ 8.0786e8 ┆ null     ┆ null     ┆ null       ┆ 26.628782   ┆ 65.796392  ┆ null       │
│ min        ┆ 9001.0   ┆ Adelaide ┆ 36ers    ┆ ADL        ┆ 1913.0      ┆ 1948.0     ┆ BAA        │
│ 25%        ┆ 9033.0   ┆ null     ┆ null     ┆ null       ┆ 1949.0      ┆ 1967.0     ┆ null       │
│ 50%        ┆ 9066.0   ┆ null     ┆ null     ┆ null       ┆ 1968.0      ┆ 2100.0     ┆ null       │
│ 75%        ┆ 1.6106e9 ┆ null     ┆ null     ┆ null       ┆ 1995.0      ┆ 2100.0     ┆ null       │
│ max        ┆ 1.6106e9 ┆ West     ┆ Zephyrs  ┆ ZAK        ┆ 2021.0      ┆ 2100.0     ┆ VTB United │
│            ┆          ┆          ┆          ┆            ┆             ┆            ┆ League     │
└────────────┴──────────┴──────────┴──────────┴────────────┴─────────────┴────────────┴────────────┘